{% extends "core/base.html" %}

{% block content %}

<div id="head-login">
  <div id="form" class="mt-4 p-5">
    <div class="container d-flex flex-column align-items-center justify-content-center my-3">
        <small>Demo Account:</small>
        <small class="mb-3">demo@demo.com / demo12345</small>
        <h3 class="text-center">Log In</h3>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                {{ field.errors }}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endfor %}
                <button class='btn btn-dark w-100 mt-3' type="submit">Log In</button>
        </form>
    </div>    
  </div>
</div>

{% endblock content %}