{% load thumbnail %}
{% load static %}

<div class="col-lg-8 offset-lg-2">
    <h2 class="mb-3">General Discussions</h2>

    <div id="form-comment">
        <form method="POST" class="d-flex mb-3">
            {% csrf_token %}
            {% if request.user.profile.avatar|thumbnail_url:'avatar' %}
                <img src="{{ request.user.profile.avatar|thumbnail_url:'avatar' }}" alt="" width="32" height="32" class="rounded-circle m-1">
            {% else %}
                <img src="{% static "./img/default_user.jpeg" %}" class="rounded-circle m-1" alt="" width="32" height="32">
            {% endif %}
            
            {{ comment_form }}
            <button class="btn btn-dark">Submit</button>
        </form>
    </div>
    <hr>


    {% if not post.comments.all %}
        <p class="fw-bold">No Comments Yet...</p>
    {% else %}
        {% for comment in post.comments.all %}
        <div>
            {% if comment.user.profile.avatar|thumbnail_url:'avatar' %}
            <img src="{{ comment.user.profile.avatar|thumbnail_url:'avatar' }}" alt="" width="32" height="32" class="rounded-circle m-1">
            {% else %}
            <img src="{% static "./img/default_user.jpeg" %}" class="rounded-circle m-1" alt="" width="32" height="32">
            {% endif %}
            <strong>
                {{ comment.user.get_full_name }} -
                <span class="">
                    <small>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                        </svg>
                        {{ comment.created_at }}
                    </small>
                </span>
            </strong>
            
            <br>
           <div class="shadow rounded-2 p-2 mt-1 mb-3 d-flex justify-content-between align-items-center">
                {{ comment.content }}
                {% comment %} {% if comment.user.is_authenticated %}
                    <a href="" class="text-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </a>
                {% endif %} {% endcomment %}
           </div>
        </div>
        
        {% endfor %}
    {% endif %}
    
</div>